:root {
    --font-family: "Ubuntu";
}

html {
    font-size: 16px;
    background-color: #eeeff0;
}

body {
    margin: 0;
}

#app {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

div.code-editor * {
    font-family: 'DejaVu Sans Code', 'JetBrains Mono', 'Noto Sans Mono', 'Roboto Mono', 'Source Code Pro', monospace;
}

.input-wrapper .splitpanes .splitpanes__splitter {
    width: 6px;
    background: linear-gradient(90deg, #333, #555, #333);
    border: none;
}

.input-wrapper .splitpanes .splitpanes__splitter:hover {
    background: linear-gradient(90deg, #666, #aaa, #666);
}

.p-tabview {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition-duration: 0ms !important;
    overflow: hidden;
}

.p-tabview .p-tabview-panels {
    flex-grow: 1;
    overflow: hidden;
}

.p-tabview .p-tabview-panel {
    height: 99%;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
}