@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --va-font-family: "Ubuntu";
    --va-tab-font-weight: 400;
    --va-tabs-container-height: 2.9325rem
}

html {
    font-size: 16px;
}

body {
    margin: 0;
}

#app {
    height: 100vh;
}

div.code-editor * {
    font-family: 'DejaVu Sans Code', 'JetBrains Mono', 'Noto Sans Mono', 'Roboto Mono', 'Ubuntu Mono', 'Source Code Pro', monospace;
    font-size: 1rem;
}

.w-app .w-tabs,
.w-app .w-tabs__content-wrap,
.w-app .w-tabs__content {
    height: 100%;
}

.w-tabs__content {
    overflow: scroll;
}