@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --va-font-family: "Ubuntu";
    --va-tab-font-weight: 400;
    --va-tabs-container-height: 2.9325rem
}

html {
    font-size: 16px;
    background-color: #eeeff0;
}

body {
    margin: 0;
}

#app {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

div.code-editor * {
    font-family: 'DejaVu Sans Code', 'JetBrains Mono', 'Noto Sans Mono', 'Roboto Mono', 'Source Code Pro', monospace;
}

.input-wrapper .splitpanes .splitpanes__splitter {
    width: 6px;
    background: linear-gradient(90deg, #333, #555, #333);
    border: none;
}

.input-wrapper .splitpanes .splitpanes__splitter:hover {
    background: linear-gradient(90deg, #666, #aaa, #666);
}

.w-app .w-tabs,
.w-app .w-tabs__content-wrap,
.w-app .w-tabs__content {
    height: 100%;
}

.w-tabs__content {
    overflow: scroll;
}